 :root {
   --desctription-marginleft: 50px;
   --description-text: 16px;
   
   --main-headingleftside-text: 25px;
 }

 .hideinmobile {
  display: block;
 }
 
 .introsection {
   margin-top: 120px;
  width: 100%;
  background-color: #ffffff; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
}

.layoutspacerTopOverview{
  height: 1px;
  margin-top: 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(51, 51, 51, 0.05);
}

.layoutspacertop{
  height: 1px;
  padding-bottom: 56px;
  padding-top: 56px;
  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(51, 51, 51, 0.05);
}

.divcenter {
  margin-left:auto;
  margin-right:auto;
  max-width:940px;
  width: 100%;
  display: flex;
  height: 60%;
}

.lefttextcontainer {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 160px;
}

.toptext {
  padding-left: 16px;
  font-family: 'Circular Std', sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 11px;
}

.bottomtext {
  font-family: 'Circular Std', sans-serif;
  font-size: 23px;
  line-height: 35px;
  font-weight: 400;
  padding-left: 16px;
}

.IphonePic {
  margin-left: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.ratioimage {
  /* margin-left: 40px; */
  margin-right: 90px;
  margin-bottom: 16px;
  max-width: 114%;
}

/* Overview Section */
.sectionaligncenter {
  background-color: #F5F5F5;
  /* 1. Set in the center */
  margin-left:auto;
  margin-right:auto;
  max-width:940px;
  width: 100%;
}

.grayBackgroundContainer {
  background-color: #F5F5F5;
}

.titlecontainer {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.titletext {
  font-family: 'Circular Std', sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 15px;
}

.titletextUnderGrnLine {
  margin-top: 0px;
  padding-top: 40px;
  font-family: 'Circular Std', sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 31.25px;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 4px;
}

.textProtypeDesecpiton {
  font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    text-align: center;
    justify-content: center;
    margin-top:8px;
}

.underlinetitle {
  background-color: rgba(0, 117, 75, 0.4);
  width: 80px;
  height: 3px;
  margin: auto;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 24px;
}

.overviewTitle {
  font-family: 'Circular Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--main-headingleftside-text);
  line-height: 46px;
  text-align: center;
  margin-bottom: 0px;
}

.overviewText {
  /* 2. Styles for text */
  font-family: 'Circular Std', sans-serif;
  font-size: var(--description-text);
  line-height: 32px;

  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.overviewText3names {
  /* 2. Styles for text */
  font-family: 'Circular Std', sans-serif;
  font-size: var(--description-text);
  line-height: 30px;

  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0px;
}

.flexcontaineroverview {
  display: flex;
  margin-top: 10px;
}

.flexSideImageContainer{
  display: flex;
}

.flexcontaineroverviewfirst {
  display: flex;
  margin-top: 24px;
}


.flextitleoverview {
  /* 3. This is the how to get in the sides */
  width: 33.33%;
  padding-right: 2px;

  text-align: center;
  font-family: 'Circular Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--main-headingleftside-text);
  line-height: 36px;
}

.overviewdescription {
  font-family: 'Circular Std', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--description-text);
  line-height: 32px;
  max-width: 528px;
  margin-top: 20px;
  margin-left: var(--desctription-marginleft);
}

/* Design Process */
.titleParagraph {
  font-family: 'Circular Std', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  max-width: 528px;
  margin-top: 20px;
  margin-left: var(--desctription-marginleft);
}

.subjectText {
  font-family: 'Circular Std', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--description-text);
  line-height: 32px;
  max-width: 528px;
  margin-left: var(--desctription-marginleft);
}

.styleguideImg {
  max-width: 550px;
  margin-top: 20px;
  margin-left: var(--desctription-marginleft);
}

.bigimg {
  max-width: 890px;
}

.lofidimg {
  /* max-width: 500px; */
  margin-top: 20px;
  margin-left: var(--desctription-marginleft);
}

.imgdescriptext {
  margin-left: var(--desctription-marginleft);
  margin-bottom: 0px;
  margin-top: 11px;
  text-align: center;
  font-family: 'Circular Std', sans-serif;
  font-size: 15px;
  line-height: 40px;
  color: #626262;
  font-weight: 500;
}

.imgdescriptextCenter {
  margin-bottom: 0px;
  margin-top: 12px;
  text-align: center;
  font-family: 'Circular Std', sans-serif;
  font-size: 15px;
  line-height: 40px;
  color: #626262;
  font-weight: 500;
}

.newpicimgdescription {
  margin-bottom: 0px;
  margin-top: 12px;
  text-align: center;
  font-family: 'Circular Std', sans-serif;
  font-size: 15px;
  line-height: 40px;
  color: #626262;
  font-weight: 500;
}

.titleFigContainer {
  align-content: center;
  justify-content: center;
  text-align: center;

  margin-top: 64px;
}

.textFig {
  font-family: 'Circular Std', sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 15px;
}

.inDepthPics {
  margin-top: 30px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.figmacontrainer {
  margin-top: 48px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.hifiPiccontainer{
  margin-top: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.figmaiframe {
  width: 100%;
  height: 650px;
  border: 1px;
}

.reflectiontext {
  font-family: 'Circular Std', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--description-text);
  line-height: 32px;
  text-align: center;

  max-width: 528px;
  margin-bottom: 0px;
}

.reflectionContainer {
  margin-top: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomImageST {
  font-family: 'Circular Std', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--description-text);
  line-height: 32px;
  max-width: 528px;
  margin-left: var(--desctription-marginleft);
  margin-top: 40px;
}

/* Desgin Problem CSS */
  .mainContainr { 
  width: auto;
  display: flex;
  margin-top: 70px;
  }  

  .mainContainrTop { 
    width: auto;
    display: flex;
    margin-top: 66px;
    } 

  .leftDPImg {
    margin-right: auto;
  }

  .rigtDPtext{
    /* problem text not shrkining with windowsize width: 508px; */
    max-width: 508px;
    height: auto;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 19px;
    
  }
    /* rightxt Words */
    .titleProb {
    font-family: Circular Std;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
    }

    .sidewayrightCon {
      display: flex;
      margin-top: 14px;
    }

    .sidewayrightCBOTTOM {
      display: flex;
      margin-top: 24px;
    }

    .numcirlrigt {
      min-width: 34px;
      height: 34px;
      margin-right: 15px;
      margin-top: 0.6px;
    }

    /* .numcirlrigt {
      border-radius: 50%;
      min-width: 34px;
      height: 34px;
      background: #23b16c;
      color: #fff;
      margin-right: 15px;
      font-family: Circular Std;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    } */

    .textDPrigt{
      font-family: Circular Std;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 35px;
      color: #000000;
      max-width: 425px;
    }

    /* picssizes  */
    .pic1 {
      width: 280px;
      margin-left: 60px;
    }
    .pic2 {
      width: 360px;
      margin-left: 25px;
    }
    .pic3 {
      height: 600px;
      width: auto;
      margin-left: 60px;
    }
    .pic4 {
      width: 366px;
      margin-left: 23px;
    }
    .pic5 {
      width: 279.016px;
      margin-left: 60.5px;
    }
    .pic6 {
      width: 383px;
      margin-left: 17.5px;
    }

@media (max-width: 732px) {

  .hideinmobile {
    display: none;
   }

   .bigimg {
     width: 100%;
   }

  /* Intro Section */
  .introsection {
    /* background-color: red; */
    margin-top: 90px;
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .divcenter {
    margin-left:auto;
    margin-right:auto;
    /* max-width:940px; */
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .toptext {
    text-align: center;
    padding-left: 0px;
  }
  .bottomtext{
    text-align: center;
    padding-left: 0px;
  }

  .IphonePic {
    margin-left: 0px;
    padding-bottom: 0px;
    width: 85%;
  }
  .ratioimage {
    margin-left: 0px;
    max-width: 100%;
    margin-top: 35px;
    margin-bottom: 0px;
  }
  .lefttextcontainer {
    height: 40px;
  }
/* End of intro section */

  .gridcontainer {
    grid-template-columns: repeat(1, auto);
  }
  .flexcontaineroverview {
    display: inline-block;
  }
  .flexcontaineroverviewfirst {
    display: inline-block;
  }
  .flexSideImageContainer{
    display: inline-block;
  }
  .flextitleoverview{
    text-align: left;
    width: auto;
    padding-right: 0px;
  }
  .overviewTitle {
    margin-bottom: 5px;
  }
  .overviewdescription {
    margin-right: 0px;
    width: auto;
    margin-top: 5px;
    margin-left: 0px;
    max-width: 732px;
  }
  .titletext {
    margin-top: 50px;
  }
  .titletextUnderGrnLine {
    margin-top: 50px;
  }
  /* Design Process */
  .subjectText {
    width: auto;
    margin-left: 0px;
    max-width: 732px;
  }
  .bottomImageST {
    width: auto;
    margin-left: 0px;
    max-width: 732px;
  }
  .titleParagraph {
    width: auto;
    margin-left: 0px;
    max-width: 732px;
  }

  .styleguideImg {
    margin-left: 0px;
    width: 100%;
  }

  .imgdescriptext {
    margin-left: 0px;
  }

/* Working */
  .sectionaligncenter {
    /* background-color: red; */
    margin-left:auto;
    margin-right:auto;
    max-width:940px;
    width: 100%;
  }

  .pic1 {
    /* background-color: aqua; */
    width: 280px;
    margin-left: 0px;
    justify-content: center;
    align-content: center;
  }

  .leftDPImg {
    /* margin-right: none; */
    justify-content: center;
    align-content: center;
  }

  .mainContainrTop{
    /* background-color: brown; */
    display: block;
    justify-content: center;
    align-content: center;
  }
  .mainContainr {
    display: block;
  }
  
  .rigtDPtext {
    margin-left: 58px;
  }
  
}